[Unit]
Description=rcc_gunicorn socket

[Socket]
ListenStream=/run/rcc_gunicorn.sock

# Socket permissions
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
